<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../imgs/tigela_acai.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/adicionarPedido.css">
    <title>Adicionar pedido</title>
    <body class="body">
      </head>
      <form id="pedidoForm" class="container">
        <div class="form-section">
          <h2 class="tittle">Informações do pedido</h2>
          <div class="form-group">
            <label for="cliente">Cliente:</label>
            <input
              type="text"
              id="cliente"
              name="cliente"
              maxlength="255"
              required
            />
          </div>

          <div class="form-group">
            <label for="status">Status:</label>
            <select name="status" id="status" required>
              <option value="">Selecione o Status</option>
              <option value="Pendente">Pendente</option>
              <option value="Em Preparo">Em preparo</option>
              <option value="Em Rota de Entrega">Em Rota de Entrega</option>
              <option value="Entregue">Entregue</option>
            </select>
          </div>

          <div class="form-group">
            <label for="descricao">Descrição Pedido:</label>
            <textarea name="pedido" id="pedido" maxlength="255" required></textarea>
          </div>
        </div>

        <div class="form-section">
          <h2 class="tittle">Itens do Pedido</h2>
          <div id="itensContainer" class="itens-container">
            <div class="item-form">
              <div class="form-group">
                <label for="produto">Produto:</label>
                <input type="text" name="produto[]" maxlength="255" required />
              </div>

              <div class="form-group">
                <label for="preco">Preço:</label>
                <input type="number" name="preco[]" step="0.01" min="0" required />
              </div>
            </div>
          </div>

          <button type="button" id="adicionarItem" class="btn-adicionar-item">Adicionar Item</button>
        </div>

        <div>
          <button type="submit" class="btn btn-salvar">Salvar Pedido</button>
          <button type="button" class="btn btn-cancelar" onclick="window.location.href='./'">
            Cancelar
          </button>
        </div>
      </form>
    <script src="../js/adicionarPedido.js"></script>
  </body>
</html>
