<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../imgs/tigela_acai.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/pedidos.css" />
    <title>Pedido</title>
  </head>
  <body class="pedidos" onload="loadData()">
    <h1 class="tittle">Pedidos</h1>
    <div class="table-container">
      <table class="tablePedidos">
        <thead>
          <tr class="tr">
            <th>Cliente</th>
            <th>Status</th>
            <th>Valor</th>
            <th>Id Pedido</th>
          </tr>
        </thead>
        <tbody id="pedidosTable"></tbody>
      </table>
    </div>
    <script src="../js/pedidos.js"></script>
  </body>
</html>
