<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Alexandre Turrini Silvestri, Gabriel Alessandro Horstmann">
    <meta name="keywords" content="Açai, comida, delivery">
    <title>Pedido</title>
</head>

<body>
    <header>
        <div class="back-main">Voltar</div>
        <div class="title-hd">
            <h1>Açai</h1>
            <h1>Bacana</h1>
        </div>
    </header>

    <div class="order-frame">Pedido 2
        <img src="imagem-acai.jpg" alt="imagem-acai" class="img-frame">
        <h2 class="frame-top">Mega Açai 300ML</h2>
        <p class="data-client">Cliente: João da Silva</p>
        <p class="data-client">Endereço: Rua Feijão, 123</p>
        <p class="data-client">Data: 01/01/2000 19:00h</p>
    </div>
    
    <div class="mid-item">
        <ul>Ingredientes:
            <li>1 Açai 300ML</li>
            <li>Leite em Pó</li>
            <li>Banana</li>
            <li>Morango</li>
            <li>Leite Condensado</li>
            <li>Granola</li>
            <li>Nutella</li>
            <li>Ovomaltine</li>
        </ul>
    </div>
    
    <div class="view-order">Pedidos:
        <p>#1 - Açai 300ML</p>
        <p>#3 - Super Açai 250ML</p>
        <p>#4 Açai 500ML</p>
        <p>#5 - Lite Açai 250ML</p>
    </div>
    
    <div class="act-item">Adicionar Item</div>
    <div class="act-item">Remover Item</div>
    <div class="show-status">Status: Em Rota de Entrega</div>

</body>

</html>