<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Alexandre Turrini Silvestri, Gabriel Alessandro Horstmann">
    <meta name="keywords" content="Açai, comida, delivery">
    <title>Pedido</title>
</head>
<body onload="loadData()">
 <h1>Pedidos</h1>
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Status</th>
                <th>Valor</th>
            </tr>
        </thead>
            <tbody id="pedidosTable">
            </tbody>
    </table>
    <script src="../js/pedidos.js"></script>
</body>
</html>