<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Alexandre Turrini Silvestri, Gabriel Alessandro Horstmann">
    <meta name="keywords" content="Açai, comida, delivery">
    <link rel="stylesheet" href="../css/order.css"> 
    <title>Pedido</title>
</head>

<body>
    <header> 
            <button class="back-menu">← Voltar</button>
                <div class="logo">
                <span>acai</span>
                <span>bacana</span>
                </div>
    </header>

    <div class="container">
        <div class="order-frame">
            <h2>PEDIDO 2</h2>
            <img src="imagem-acai.jpg" alt="imagem-acai" class="img-frame">
            <p><strong>MEGA AÇAÍ 300ML</strong></p>
            <p>Cliente: João da Silva</p>
            <p>Endereço: Rua Feijão, 123</p>
            <p>Data: 01/01/2000 19:00h</p>
        </div>
    
        <div class="mid-panel">
            <h3>Ingredientes:</h3>
            <ul>
                <li>1 Açai 300ML</li>
                <li>Leite em Pó</li>
                <li>Banana</li>
                <li>Morango</li>
                <li>Leite Condensado</li>
                <li>Granola</li>
                <li>Nutella</li>
                <li>Ovomaltine</li>
            </ul>

            <div class="action-buttons">
                <button class="btn-add">ADICIONAR ITEM</button>
                <button class="btn-remove">REMOVER ITEM</button>
            </div>

            <div class="order-status">STATUS: EM ROTA DE ENTREGA</div>
        </div>
    
        <div class="orders">
            <h3>Pedidos:</h3>
                <ul class="list-order">
                <li>#1 - Açaí 300ML</li>
                <li>#3 - Super Açaí 250ML</li>
                <li>#4 - Açaí 500ML</li>
                <li>#5 - Lite Açaí 250ML</li>
                </ul>
        </div>
  </div>
    
    

</body>

</html>